/* https://coolors.co/cdc392-8b5d33-c6caed-1d201f-171a21
Sage #CDC392
Coyote Brown #8B5D33
Lavender Blue #C6CAED
Eerie Black #1D201F
Raisin Black #171A21 */

/* General ********************************* */
.row {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/* Navbar ********************************* */
.navbar {
   font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 10px;
}

.navbar-nav .active{
    border-bottom: 3px solid #8B5D33;
    font-weight: bold;

}


/* Welcome ********************************* */

.head {
    margin-top: 5em;
}
.intro-info{
    color: rgba(23, 26, 33, 0.7);
    font-weight: 300;
    text-align: center;
    margin-top: 1.8em;

}
.intro-info strong {
    font-weight: 700;
}

.intro-info p::after {
    background: #8B5D33;
    content: "";
    width: 3em;
    height: 5px;
    display: block;
    margin-top: 0.6em;
    margin-left: 1.5em;
}

.intro-info::before {
    background: #8B5D33;
    text-align: end;
    content: "";
    width: 3em;
    height: 5px;
    display: block;
    margin-bottom: 0.6em;
    margin-left: 1.5em;
}
.funko img{
    width: 100%;
}


/* About ********************************* */

.skills img {
    width: 15%;
    padding: .5em;
    margin-bottom: 3em;
}
.img-postion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.skills h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    color: rgba(23, 26, 33, 0.7);
    
}
.skills h3::after {
    background: #8B5D33;
    content: "";
    width: 1em;
    height: 5px;
    display: block;
    margin-top: 0.6em;
}

.facts-about {
    padding-left: 5%;
    padding-right: 5%;
    margin: 4em 1em;
    line-height: 1.5;
    text-align: center;
}

.facts-about h2 {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: rgba(23, 26, 33, 0.4);
    margin-top: 4em;
    margin-bottom: 6em;
    
}

.bio {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 2;
    font-weight: 100;
    color: rgba(23, 26, 33, 0.9);
    padding-left: 5%;
    padding-right: 5%;
}

.bio h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 0;
    color: rgba(23, 26, 33, 0.7);
    padding-left: 5%;
}

.bio h3::after {
    background: #8B5D33;
    content: "";
    width: 1em;
    height: 5px;
    display: block;
    margin-top: 0.6em;

}
.bio p {
    margin-left: 3%;
}


/* Portfolio ********************************* */


.portfolio h2 {
    font-weight: 100;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(23, 26, 33, 0.8);
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 4em;

}

.portfolio p {
    font-size: 1.2em;
    font-family: ''Open Sans', sans-serif';
    color: rgba(23, 26, 33, 0.4);
    text-align: center;
}
.space {
    width: 100px;
    height: 4px;
    background-color: #8B5D33;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 7em;
}

.portfolio-grid img {
    width: 100%;
    height: 100%;
}

.portphotos {
    padding: 0;
}